<style>
	body {
		text-align: center
	}
	.div {
		margin: 0 auto;
		width: 400px;
		height: 200px;
		border: 0px solid #F00
	}
	.table {
		margin: 0 auto;
	}
</style>
</head>
<body>
	<div class="div">
		<h1>HSDI员工请假系统</h1>
		<h3>HSDI Leave Request System</h3>
	</div>
	<!--
	<table class='table' border="1">
	<tr>
	<td>UserName</td>
	<td>
	<input type="text" id='username' />
	</td>
	</tr>
	<tr>
	<td>Password</td>
	<td>
	<input type="password" id='pwd'/>
	</td>
	</tr>
	<tr>
	<td style="border: 0px"></td>
	<td style="border: 0px"> <%= button_to 'Login',{:controller => "login_sys",:action => 'check_login',:username=>"aaaaa",:password => "bbbbb"},{}%> </td>
	</tr>
	</table>
	-->

	<%= form_tag("login_sys/check_login", method: "post") do %>
	<table class='table' border="1">
		<tr>
			<td><%= label_tag(:username, "User Name") %></td>
			<td> <%= text_field_tag(:username) %> </td>
		</tr>
		<tr>
			<td><%= label_tag(:password, "Password") %></td>
			<td> <%= password_field_tag(:password) %></td>
		</tr>
		<td style="border: 0px"></td>
		<td style="border: 0px"> <%= submit_tag("Login") %> </td>
	</table>
	<% end %>

</body>