<%= form_for(leave_record) do |f| %>
<% if leave_record.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(leave_record.errors.count, "error") %> prohibited this leave_record from being saved:</h2>

	<ul>
		<% leave_record.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%if !(@status=='new' || @status=='edit')%>
<div class="field">
	<%= f.label :staff_id %>
	<%= f.text_field :staff_id %>
</div>
<%end%>

<div class="field">
	<%= f.label :from_date %>
	<%= f.datetime_select :from_date %>
</div>

<div class="field">
	<%= f.label :to_date %>
	<%= f.datetime_select :to_date %>
</div>

<div class="field">
	<%= f.label :apply_date %>
	<%= f.datetime_select :apply_date %>
</div>

<div class="field">
	<%= f.label :reason %>
	<%= f.text_area :reason,"cols" => 50, "rows" => 10 %>
</div>

<div class="field">
	<%= f.label :leave_type %>
	<%= f.select :leave_type ,{"Annual Leave"=>'1',"Public Holiday"=>'2',"Compensatory Days"=>'3',"Sick Leave"=>'4',"Marriage Leave"=>'5',"Maternity Leave"=>'6',"Unpaid Leave"=>'7',"Study Leave"=>'8',"Others"=>'9'}%>
</div>
<%if !(@status=='new' || @status=='edit')%>
<div class="field">
	<%= f.label :state %>
	<%= f.text_field :state %>
</div>
<% end %>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
